.eggs/
CMakeFiles/
**/_VizFiles/
CMakeCache.txt
.DS_Store
dist/
dist3/
.pytest_cache 
docs/html
docs_sphinx/build
docs_sphinx/source/Documentation/*
docs/Images/Scenarios/*
src/tests/scenarios/data
xml/*
*.swp
*.pyc
lastfailed
.idea
**/AutoTex/
**/AutoTeX/
cmake-build*/*
*.aux
*.log
*.out
*.gz
*.toc
src/cmake-build-debug/*

*.fdb_latexmk
*.fls

**/tests/report/
