.eggs/
CMakeFiles/
**/_VizFiles/
CMakeCache.txt
.DS_Store
dist/
dist3/
.pytest_cache
docs/html
docs/build
docs/source/Documentation/*
docs/source/_images/Scenarios/*
docs/source/breathe.data
docs/source/externalTools/*
docs/source/examples/*
docs/source/supportData.rst
src/tests/scenarios/data
bsk-dev-env/
bin/
.vscode/
xml/*
*.swp
*.pyc
lastfailed
.idea
**/AutoTex/
**/AutoTeX/
cmake-build*/*
*.aux
*.log
*.out
*.gz
*.toc
src/cmake-build-debug/*
supportData/*/__init__.py
src/utilities/vizProtobuffer/__init__.py
src/utilities/vizProtobuffer/vizMessage.pb.cc
src/utilities/vizProtobuffer/vizMessage.pb.h
src/utilities/vizProtobuffer/vizMessage_pb2.py
externalTools/fswAuto/autosetter/sets/*
externalTools/fswAuto/autowrapper/wraps/*
**/outputFiles/*
src/moduleTemplates/autoCModule/*
src/moduleTemplates/autoCppModule/*
CMakeUserPresets.json

supportData/EphemerisData/*.bsp

*.fdb_latexmk
*.fls

**/tests/report/
**/__pycache__/
venv/
.venv/

# VSCode
.devcontainer

# Python packaging
*.egg-info
build/
!.github/actions/build/
!.github/actions/build/**
